*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  font-family: Sans-serif;
}

body {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff000;
}

textarea{
  margin: 10px;
  border: none;
  outline: none;
  width: 50%;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
}
.flex-count{
  background-color:#000;
  width: 50%;
  margin: 10px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  text-align: center;
  border-radius: 5px;
}
.flex-count p{
  color:  #a6a6a6;
}
.flex-count h5{
  color: #fff;
  font-size: 32px;
}
